* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, footer, .grid {
    max-width: 840px; 
    margin: 0 auto;
} 

:root{
    --color-nav: rgb(218, 204, 182);
    --color-aside: rgb(235, 226, 226);
    --color-h1: rgb(43, 23, 84);
    --color-borde-img: rgb(168, 166, 42);
}

nav {
    background-color: var(--color-nav);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgb(24, 24, 73);
    padding: 1px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
h1 {
    border-bottom: 1px solid black;
    color: var(--color-h1);
}
main{
    max-width:50rem;
    margin: 1rem ;
    grid-column: 2/3;
    
}
aside{
    max-width: 30rem;  
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
img {
    width: 200px;
    height: auto;
    border: var(--color-borde-img) solid 2px;
    padding: 1px;
    box-shadow: 5px 5px 5px grey;
    margin: 10px;
}
main img {
    width: 200px;
    height: auto;
    float: right;
}
aside img {
    width: 95%;
    height: auto;
    display: block;
}
aside h2 {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
p {
    padding: .5rem;
}
 footer {
    margin-top: 10px;
    border-top: 2px solid black;
    text-align: center;
    background-color: #beb97c;
    padding: 2rem 1rem;
 }
ul {
    list-style: none;
    padding: 1rem;
}
/*Class Selectors   */
.box{
    border: 3px solid black;
    padding: 1rem;
    background-color: var(--color-aside);
    color: black;
}
.grid {
    display: grid;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}